{
  "extends": "react-static/.babelrc",
  "env": {
    "production": {
      "plugins": [["styled-components", { "displayName": false, "pure": true }]]
    },
    "development": {
      "plugins": ["styled-components"]
    }
  }
}
