{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "only": [
        "src"
      ],
      "plugins": [
        ["styled-components", {
          "ssr": true,
          "displayName": false
        }],
        "react-loadable/babel",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "only": [
        "src"
      ],
      "plugins": [
        ["styled-components", {
          "ssr": true,
          "displayName": true
        }],
        "react-loadable/babel",
      ]
    },
  }
}