version: 2

jobs:

  Checks:
    docker:
      - image: circleci/node:10.13
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run:
          name: Install packages
          command: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Lint code
          command: yarn lint


  Build:
    docker:
      - image: circleci/node:10.13
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run:
          name: Install packages
          command: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Build artifacts
          command: yarn build

      - store_artifacts:
          path: dist

      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist


  Deploy:
    docker:
      - image: circleci/node:10.13
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run:
          name: Install packages
          command: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - attach_workspace:
          at: ~/repo

      - deploy:
          command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_DEPLOY_TOKEN


workflows:
  version: 2
  # The main workflow tests PR's and deploys master
  main:
    jobs:
      - Checks
      - Build:
          filters:
            branches:
              only: master
      - Deploy:
          requires:
            - Build
          filters:
            branches:
              only: master
